.o-flag {
  display: table;
  width: 100%;
}

:not([class^='o-flag\@']) > .o-flag__component,
:not([class^='o-flag\@']) > .o-flag__body {
  display: table-cell;
}

@each $breakpoint in reverse-list(map-keys($breakpoints)) {
  @include respond-to('#{$breakpoint}') {
    .o-flag\@#{$breakpoint} {
      display: table;
      width: 100%;
    }

    .o-flag\@#{$breakpoint} > .o-flag__component,
    .o-flag\@#{$breakpoint} > .o-flag__body {
      display: table-cell;
    }
  }
}

@each $breakpoint in map-keys($breakpoints) {
  @include respond-to('max-#{$breakpoint}') {
    .o-flag\@max-#{$breakpoint} {
      display: table;
      width: 100%;
    }

    .o-flag\@max-#{$breakpoint} > .o-flag__component,
    .o-flag\@max-#{$breakpoint} > .o-flag__body {
      display: table-cell;
    }
  }
}

.o-flag__component,
.o-flag__body {
  vertical-align: middle;
}

.o-flag__body {
  width: 100%;
}

.o-flag--align-top {
  vertical-align: top;
}

.o-flag--align-bottom {
  vertical-align: bottom;
}