// 设置列表样式, e.g. ul/li
.o-list--bare {
  padding: 0;
  margin: 0;
  list-style: none;
}

.o-list--inline > .o-list__item {
  display: inline-block;
}

@each $breakpoint in reverse-list(map-keys($breakpoints)) {
  @include respond-to('#{$breakpoint}') {
    .o-list--inline\@#{$breakpoint} > .o-list__item {
      display: inline-block;
    }
  }
}

@each $breakpoint in map-keys($breakpoints) {
  @include respond-to('max-#{$breakpoint}') {
    .o-list--inline\@max-#{$breakpoint} > .o-list__item {
      display: inline-block;
    }
  }
}

.o-list--gutter {
  margin-left: -$spacing-unit;
}

.o-list--gutter > .o-list__item {
  padding-left: $spacing-unit;
}

.o-list--trench {
  margin-top: -$spacing-unit;
}

.o-list--trench > .o-list__item {
  padding-top: $spacing-unit;
}