@import '../_bootstrap';

$app__wrap-width: 80rem !default;
$app__wrap-padding: $spacing-unit !default;

.c-app {
  margin: 0 auto;
}

.c-app__wrap {
  max-width: $app__wrap-width;
  margin: 0 auto;
}

// Applies padding to the wrapped content
.c-app__wrap--soft {
  max-width: $app__wrap-width + ($app__wrap-padding * 2);
  padding-left: $app__wrap-padding;
  padding-right: $app__wrap-padding;
}