@import '../_bootstrap';

.c-card {
  margin-bottom: $space--small;
  padding-top: $space--large;
  padding-bottom: $space--large;
  background-color: $color__brand-primary--dark;
  color: $color__brand-primary--ultra-light;
}
