// 根字体设置
html {
  font-family: $-default-font-family;
  font-size: $-base-font-size * map-get(map-get($-font-breakpoint-multipliers, 'xs'), 'multiplier'); // 16*0.8
  line-height: $-default-line-height;
  letter-spacing: $-default-letter-spacing;
}

// 响应式字体，其他字体都是基于这个rem伸缩
@each $breakpoint in map-values($-font-breakpoint-multipliers) {
  @media (min-width: map-get($breakpoint, 'width')) {
    html {
      font-family: $-default-font-family;
      font-size: $-base-font-size * map-get($breakpoint ,'multiplier');
      line-height: $-default-line-height;
      letter-spacing: $-default-letter-spacing;
    }
  }
}

// Header font sizes
h1 {
  @include bm-font('xxl');
}

h2 {
  @include bm-font('xl');
}

h3 {
  @include bm-font('lg');
}

h4 {
  @include bm-font('md');
}

h5 {
  @include bm-font('sm');
}

h6 {
  @include bm-font('sm');
}

small {
  @include bm-font('xxs');
}

b,
strong {
  font-weight: $-base-blod-font-weight;
}